SERVICE_NAME=auth
APP_ENV=local

GRPC_PORT=50052
GRPC_HOST=localhost
LOG_LEVEL=debug

JWT_SECRET=secret
ACCESS_TOKEN_TTL_MINUTES=30
REFRESH_TOKEN_TTL_DAYS=60

DB_DSN=postgres://auth:auth@localhost:5432/auth?sslmode=disable

